<!DOCTYPE html>
<html th:replace="~{principal :: principal(~{::title}, ~{::div})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Administración películas</title>
</head>
<body>
	<div>
		<p th:text="${pelicula}"></p>

		<form class="needs-validation" th:action="@{/admin/peliculas}" th:object="${pelicula}"
			method="post" novalidate>
			<p th:errors="*"></p>

			<div>
				<label for="id">Id</label>
				<input th:class="'form-control' + (${#fields.hasErrors('id')} ? ' is-invalid' : '')" readonly th:field="*{id}">
				<span class="invalid-feedback" th:errors="*{id}"></span>
			</div>
			<div>
				<label for="titulo">Título</label>
				<input th:class="'form-control' + (${#fields.hasErrors('titulo')} ? ' is-invalid' : '')" th:field="*{titulo}">
				<span class="invalid-feedback" th:errors="*{titulo}"></span>
			</div>
			<div>
				<label for="fechaEstreno">Fecha de estreno</label>
				<input th:class="'form-control' + (${#fields.hasErrors('fechaEstreno')} ? ' is-invalid' : '')" type="date" th:field="*{fechaEstreno}">
				<span class="invalid-feedback" th:errors="*{fechaEstreno}"></span>
			</div>
			<div>
				<label for="coste">Coste</label>
				<input min="0" th:class="'form-control' + (${#fields.hasErrors('coste')} ? ' is-invalid' : '')" type="number" th:field="*{coste}">
				<span class="invalid-feedback" th:if="${#fields.hasErrors('coste')}" th:errors="*{coste}"></span>
				<span class="invalid-feedback" th:if="${!#fields.hasErrors('coste')}">El coste debe ser superior a cero</span>
			</div>
			<button class="btn btn-primary">Aceptar</button>
		</form>
		
		<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(() => {
		  'use strict'

		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  const forms = document.querySelectorAll('.needs-validation')

		  // Loop over them and prevent submission
		  Array.from(forms).forEach(form => {
		    form.addEventListener('submit', event => {
		      if (!form.checkValidity()) {
		        event.preventDefault()
		        event.stopPropagation()
		      }

		      form.classList.add('was-validated')
		    }, false)
		  })
		})()
		</script>
	</div>
</body>
</html>
