<!DOCTYPE html>
<html th:replace="~{principal :: principal(~{::title}, ~{::div})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Administración películas</title>
</head>
<body>
	<div>
		<p th:text="${pelicula}"></p>

		<form th:action="@{/admin/peliculas}" th:object="${pelicula}"
			method="post" novalidate>
			<p th:errors="*"></p>

			<div>
				<label for="id">Id</label>
				<input th:class="'form-control' + (${#fields.hasErrors('id')} ? ' is-invalid' : '')" readonly th:field="*{id}">
				<span class="invalid-feedback" th:errors="*{id}"></span>
			</div>
			<div>
				<label for="titulo">Título</label>
				<input th:class="'form-control' + (${#fields.hasErrors('titulo')} ? ' is-invalid' : '')" th:field="*{titulo}">
				<span class="invalid-feedback" th:errors="*{titulo}"></span>
			</div>
			<div>
				<label for="fechaEstreno">Fecha de estreno</label>
				<input th:class="'form-control' + (${#fields.hasErrors('fechaEstreno')} ? ' is-invalid' : '')" type="date" th:field="*{fechaEstreno}">
				<span class="invalid-feedback" th:errors="*{fechaEstreno}"></span>
			</div>
			<div>
				<label for="coste">Coste</label>
				<input th:class="'form-control' + (${#fields.hasErrors('coste')} ? ' is-invalid' : '')" type="number" th:field="*{coste}">
				<span class="invalid-feedback" th:errors="*{coste}"></span>
			</div>
			<button class="btn btn-primary">Aceptar</button>
		</form>
	</div>
</body>
</html>
